{% extends 'index.html' %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('frontend.static', filename='css/paper.css') }}">
<div class="container-fluid p-0 h-100 d-flex flex-column">
    <div class="card fullscreen-card d-flex flex-column">
        <div class="card-body p-0 flex-grow-1 d-flex">
            <iframe src="{{ url_for('backend.static', filename='docs/Verslag OC.pdf') }}" frameborder="0"
                class="w-100 h-100 fullscreen-iframe" allowfullscreen>
            </iframe>
        </div>
    </div>
</div>
{% endblock %}